
    <p id="notice"><%= notice %></p>
    <div class="big">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.163016682282!2d36.819638!3d-1.300395!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10e477ae132f%3A0xf19d102f06e702e7!2sTaj+Tower+Limited%2C+Upper+Hill+Rd%2C+Nairobi!5e0!3m2!1sen!2ske!4v1512330092172" width="1600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="meduim">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.163016682282!2d36.819638!3d-1.300395!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10e477ae132f%3A0xf19d102f06e702e7!2sTaj+Tower+Limited%2C+Upper+Hill+Rd%2C+Nairobi!5e0!3m2!1sen!2ske!4v1512330092172" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="small">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.163016682282!2d36.819638!3d-1.300395!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10e477ae132f%3A0xf19d102f06e702e7!2sTaj+Tower+Limited%2C+Upper+Hill+Rd%2C+Nairobi!5e0!3m2!1sen!2ske!4v1512330092172" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="container">
      <div class="container row">
        <div class="col-md-7">
          <h1 id="kati">Contact Us</h1>
          <hr id="down"><br><br><br>
          <p>Reach out to us today and get to learn more about the services we offer</p>
        <br><br>
          <%= render 'contacts/form'%>
        </div><br><br>
        <div class="col-md-4">
          <h4 class="line">Information</h4>
          <hr id="down"><br><br><br>
          <p>Visit our offices or reach us through the details below.</p>
          <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANBAMAAACAxflPAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAwUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFo/HAsAAAAQdFJOU5P8OVADKOHyaxXAcXR+pclBOf5iAAAAVUlEQVQIHWNwcVFYEOLiwODiIygoDKIVBQXFpwBpRtkAwSNA+mGJpyALiC/kLNgCpA0FEwVDgLSboKC8C5D2gOpzSRT8AuIDFYDNc3GQdgHzXbYAaQBwnBZwvuq1uwAAAABJRU5ErkJggg==">
          <strong>Location:</strong>Taj Tower, 5th Floor, Upper Hill Road, Nairobi, Kenya.</p>
          <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATBAMAAACAfiv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAqUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoTzogAAAAOdFJOUwRIIZilMoR2i2i6VA/b8SOEagAAAKNJREFUCB1jYACBKKsAMA0kBFMUYEzJAjAr2ORWh+cK4wAGBkYbBrYNkgU8hgwMLEApH6ACIC2tXl7uLVbAwC3AMNVSSSmswkhGcgLDVPMEBrVprXu2A5kGIQpiTAwMrCAmj7EbUCuYycCjBmcyqDVVaLZOYChfvXv3lN27d28vYFg5EwoWMIiXl1uVl18vLxcAamBgu7wKTIPYBoIgEgwawEwAN2gsyY4Q2pwAAAAASUVORK5CYII=">
          <strong>Postal Address:</strong> P.O. Box 16298 - 00100, Nairobi, Kenya.</p>
          <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATBAMAAACAfiv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAwUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEdwTAAAAAAAAAAAAGRg96kAAAAQdFJOUwi2wExmHjSom8vEigB3X4BhbBr1AAAAhUlEQVQIHWM4AwMHGGCsMwcYjGHAgGGKCxQoMEyFqji2gGFWDoRtpMCwVBnMPCIgwLCG0QfE3sEDZJ7pB7LY75wBMU8UnDmgewbMdHSMiXplA2JybDimKHqgHshcqnfmzIEzZ84CTYCZa7WAYQLIKCA4uoBh9m4oWMCQBgMJyO6FqASSBwCczXEm9kmGvwAAAABJRU5ErkJggg==">
          <strong>Email:</strong>  info@aurasafira.co.ke</p>
          <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATBAMAAACAfiv/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFY3HCoAAAAIdFJOUwYdjH9SMD1kACnK0wAAAGNJREFUCB1tyT0OgCAUA+DyOz9xcMWoO0QPgIPOxBN4/1OYAM9Fu/RLC/xHTMSHzJF5CskMGHJzgOP1EJ6p9M206V0Re8DWQ5qAeSwW3l2domJHOygUYgOMr7QLLqqEXlPTpx5/lwZ8/6jN4gAAAABJRU5ErkJggg==">
          <strong>Phone:</strong> +254 20 440 2973</p><br>
          <h4 class="line">Working Hours</h4>
          <hr id="down"><br><br><br>
          <p><strong>Monday-Friday: </strong>8am - 5pm</p>
          <p><strong>Saturday: </strong>8am - 2pm</p>
          <p><strong>Sunday-</strong> closed</p>
        </div>
      </div>
    </div>
