
<div class="container projects">
  <div class="multiple-items row">
    <% if @projects.any?%>
  <% @projects.each do |project|%>
      <div class="p-slide col-md-3">
        <div id="card">
          <div class="top">
              <%= image_tag project.picture.url(:medium, :class=>"img-responsive"), id: "image-main"%>
          </div>
          <div class="details">
            <div id="cardi-title">
              <%=link_to (project.title), project_path(project.id)%>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% else %>
      <span id="stay">No projects yet</span>
      <br><br>
  <% end %>
</div>
</div>
