<p id="notice"><%= notice %></p>
<div class="container-flui projectz">
  <div class="pichaz">
    <div class="hde">
      <h2>Our Expertise</h2>
      <hr id="hde">
    </div>
    <br>
    <div class="some">
      <h4>At ASC we deal with Health Informatics, Data ware housing, Data Services Layer, Health Information technology,
        Population and Health Systems Research and Policy, Economic Evaluations, Impact Evaluations and
        Implementation Science.</h4>
    </div>
    <br>
  </div>
  <div class="actual"><br>
    <h3 id="kato">Our Projects</h3>
    <hr id="katoz"><br><br><br>
    <div class="actual-projects">
      <% @projects.each do |project|%>
        <div class="boki row">
          <div class="bv col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <%= image_tag project.picture.url(:large, :class=>"img-responsive"), id: "image-boki"%>
          </div>
            <div class="vb col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h4 id="t"><%= project.title%></h4>
              <hr id="katoc">
            </div>
        </div>
      <% end %>
    </div>
  </div>
  <br><br>
</div>


<%= link_to 'New Project', new_project_path %>
