// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nyuma{
  background-color:#f7faff;
  .fom{
    padding-top: 40px;
    #kati{
      text-align: center;
    }
    .map{
      margin-right: 0px;
    }
    .col-md-11{
      margin-bottom: 12px;
    }
    #send{
    }
  }
}
