// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

iframe, object, embed {
    max-width: 100%;
}
  @media (max-width: 1257px){
    .big{
      display: none;
    }
    .small{
      display: none;
    }
  }
  @media (min-width: 1257px){
    .meduim{
      display: none;
    }
    .small{
      display: none;
    }
  }
  @media (max-width: 857px){
    .big{
      display: none;
    }
    .medium{
      display: none;
    }
  }
  #down{
    width: 18%;
    float: left;
    margin-bottom: 20px;
    background-color: #960c71;
    border-color: #960c71;
    color: #ea3c8e;
  }
.field{
  margin-bottom: 12px;
}
