// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projectz{
  background-color: #d9d9db;
  .pichaz{
    .hde{
      float: right;
      padding-top: 40px;
      padding-right: 20px;
      font-family: 'Playfair Display', serif;
      color: white;
      text-shadow: 1px 0px 0 white;
      #hde{
        width: 48%;
        background-color: #960c71;
        border-color: #960c71;
        color: #ea3c8e;
      }
    }
    background-image: url('projects.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 485px;
    width: 100%;
  }
  .some{
    background-color:  rgba(100, 100, 100, 0.27);
    text-align: center;
    margin: auto;
    text-shadow: 1px 0px 0 black;
    margin-top: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    width: 70%;
  }

  @media (max-width: 1200px){
    .some{
      background-color: rgba(100, 100, 100, 0.72);
      margin-top: 200px;
    }
  }
.actual{
  #kato{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: black;
  }
  #katoz{
    margin-top: 4px;
    width: 7%;
    text-align: center;
    margin-bottom: 20px;
    background-color: #960c71;
    border-color: #960c71;
    color: #950ab5;
  }
  .actual-projects{
    .boki{
      border: 1px solid #E8E8E8;
      padding-left: 0px;
      padding-right: 0px;
      width: 70%;
      margin: auto;
      margin-bottom: 20px;
      background: #a9acad;
      .bv{
        padding-left: 0px;
        padding-right: 0px;
        height: 348px;
      }
      .vb{
        padding-top: 4px;
        height: 348px;
      }
      #image-boki{
        height: 346px;
        width: 100%;

      }
      #t{
        font-family: 'Barlow', sans-serif;
        font-weight: bold;
      }
    #katoc{
      margin-top: 4px;
      width: 7%;
      float: left;
      margin-bottom: 20px;
      background-color: #960c71;
      border-color: #960c71;
      color: #950ab5;
    }
  }
  }
}
}
.linez{
  margin-top: 4px;
  width: 17%;
  float: left;
  margin-bottom: 20px;
  background-color: #960c71;
  border-color: #960c71;
  color: #950ab5;
}
