// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picha{
  .hde{
    float: right;
    padding-top: 40px;
    padding-right: 20px;
    font-family: 'Playfair Display', serif;
    color: white;
    text-shadow: 1px 0px 0 white;
    background-color:  rgba(100, 100, 100, 0.27);
    #hde{
      width: 48%;
      margin-bottom: 20px;
      background-color: #960c71;
      border-color: #960c71;
      color: #ea3c8e;
    }
  }
  height: 300px;
  width: 100%;
  background-color: black;


  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  /* Full height */
  background: url("https://images.unsplash.com/photo-1485331129317-1717811a2b75?auto=format&fit=crop&w=1507&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#head{
  text-align: center;
}

@mixin BoxShadowHelper($level: 1) {
   @if $level == 1{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }
  @if $level == 2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  }
}

#gpn{
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
}
#undex {
  width: 18%;
  float: left;
  margin-bottom: 20px;
  background-color: #aa24af;
  border-color: #aa24af;
  color: #aa24af;
}

.card {
  @include BoxShadowHelper(1);
  transition: 0.25s box-shadow;
  margin: 20px;
  padding: 20px;
  background: #fff;
	position: relative;
	overflow: hidden;
	z-index:1;
	transition: all 0.5s ease;
  color: #4A4A4A;
	// border: 1px solid #E8E8E8;

  &:focus,
  &:hover {
    @include BoxShadowHelper(2);
  }
  .card-title{
    padding-bottom: 12px;
  }
}
.card:hover{
   box-shadow: 0px 21px 36px -14px rgba(220,220,220,1);
}
#image-main {
  width: 100%;
  height:200px;
  padding:0px;
  position: relative;
  overflow: hidden;
	transition: all 1s ease;
}
.card:hover #image-main {
  transform: scale(1.10);
}
